<ion-content>
  <h1 class="title">Advertisement Mobile Platform</h1>
  <div class="animation-content">
    <lottie-animation-view [options]="lottieConfig" [width]="300" [height]="400">
    </lottie-animation-view>
  </div>

  <form padding>
    <div class="item-input bg-light">
      <ion-input placeholder="Email"></ion-input>
    </div>

    <div class="item-input bg-light">
      <ion-input placeholder="Password" type="password"></ion-input>
    </div>

    <ion-button class="expanded-button" mode="ios" expand="block">
      Sign In
      <ion-icon slot="end" name=""></ion-icon>
    </ion-button>
  </form>


</ion-content>